<ion-view view-title="<i class='ion-ios-cart'></i> <span style='font-weight:bold;'>SoftMart</span>">
  <ion-content scroll="false">
    <ion-slides options="options" slider="data.slider">
      <ion-slide-page style="text-align:center">
        <img src="img/home.png" style="max-width:100%;height:auto;"/>
      </ion-slide-page>
      <ion-slide-page style="text-align:center">
        <img src="img/carpooling.jpg" style="max-width:100%;height:auto;"/>
      </ion-slide-page>
      <ion-slide-page style="text-align:center">
        <img src="img/vehicle.jpg" style="max-width:100%;height:auto;"/>
      </ion-slide-page>
      <ion-slide-page style="text-align:center">
        <img src="img/household.jpg" style="max-width:100%;height:auto;"/>
      </ion-slide-page>
      <ion-slide-page style="text-align:center">
        <img src="img/electronics.jpg" style="max-width:100%;height:auto;"/>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
