/* Empty. Add your own CSS if you like */

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
*/
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
  cursor:pointer;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.spinner svg {
  width: 40px;
  height: 40px;
  stroke: #387EF5;
  fill: #387EF5;
}

.product-gallery{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

a.cross{
  color:#99999D;
  margin-right:10px;
}

a.cross:hover{
  text-decoration:line-through;
  cursor:pointer;
}

span.rating{
  color:#99999D;
}

.ion-ios-star,.ion-ios-star-half{
  color:#FFE11B;
}

p.product-title{
  font-weight:bold;
  color:black;
}

p.rating-group{
  font-size:20px;
}

.card:hover{
  box-shadow:0px 0px 7px #387EF5;
}

.button{
  border-radius:0px !important;
}

.list-input-special{
  width:90%;
  position:relative;
  margin:0px auto;
}

input[type="text"].input-special{
  display:inline-block;
  background:#F7F7F7;
  border-radius:0px;
  border-bottom:1px solid #387EF5;
  width:85%;
  height:35px;
  padding:5px;
  float:left;
  border-right:0px;
}

.input-search{
  display:inline-block;  
  background:#F7F7F7;
  width:35px;
  line-height:34px;
  font-weight:bold;
  border-bottom:1px solid #387EF5;
  border-left:0px;
  text-align:center;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
}

.input-search:hover{
  color:#387EF5;
  font-size:16px;
}

.top-left-center{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align:center;
}

.top-left-center img.flip{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; 
  transition: transform 0.2s 0.2s ease-in-out;
}

.top-left-center img.flipAnimate{
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: FlipH;
  -ms-filter: "FlipH"; 
}

.container,.container-under-construction{
  position:relative;
  height:100%;
  text-align:center;
}

.container h2,.container h5{
  font-family: 'Russo One','Exo', sans-serif;
  color:#FFFFFF;
}

.container{
  background:#FFC900;
}

.container-under-construction{
  background:#FFFFFF;
}

a.item{
  cursor:pointer;
}

.item h2{
  font-weight:bold;
}

.hidden-item{
  display:none;
  transition:all 0.3s 0.3s ease-in-out;
}

.visible-item{
  display:"";
}
