<ion-view view-title="<i class='ion-ios-paperplane'></i> <span style='font-weight:bold;'>Post an Ad</span>">
  <ion-content class="padding" scroll="true">
  <div class="list">
    <div class="item item-divider">
      <h2>Ad Information</h2>
    </div>

    <label class="item item-input">
      <span class="input-label">Title</span>
      <input ng-model="product.name" type="text" placeholder="">
    </label>

    <label class="item item-input">
      <span class="input-label">Description</span>
      <textarea ng-model="product.description" rows="5" placeholder=""></textarea>
    </label>

    <label class="item item-input">
      <span class="input-label">Price</span>
      <input ng-model="product.price" type="number" placeholder="">
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Manufactured Year
      </div>
      <select ng-model="product.manufacturedYear" ng-options="option as option for option in manufacturedYearOptions"></select>
      <!--<span class="input-label">Manufactured Year</span>
      <input type="month" ng-model="product.manufacturedYear">-->
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Category
      </div>
      <select ng-model="product.selectedCategory" ng-change="updateCategoryOptions(product.selectedCategory)" ng-options="option.name for option in categorySelectOptions track by option.name"></select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Sub-Category
      </div>
      <select ng-model="product.selectedSubCategory" ng-options="option as option for option in subCategorySelectOptions"></select>
    </label>
    
    <div class="item item-divider">
      <h2>Contact Information</h2>
    </div>

    <label class="item item-input">
      <span class="input-label">Mobile</span>
      <input ng-model="product.contact.phone" type="tel" placeholder="">
    </label>

    <label class="item item-input">
      <span class="input-label">Email</span>
      <input ng-model="product.contact.email" type="email" placeholder="">
    </label>

    <div class="item item-toggle">
      Disclose contact details?
      <label class="toggle toggle-positive">
        <input ng-model="product.contact.disclose" type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>

    <div class="item item-divider" ng-if="inMobileMode">
      <h2>Upload Photos</h2>
    </div>

    <div class="item item-icon-right" ng-if="inMobileMode">
      From Camera
      <i ng-click="chooseFromCamera()" class="icon ion-ios-camera"></i>
    </div>

    <div class="item item-icon-right" ng-if="inMobileMode">
      From Gallery  
      <i ng-click="chooseFromGallery()" class="icon ion-images"></i>
    </div>

    <div class="item item-image" ng-if="inMobileMode && imgSrcs">
      <!--
        From stackoverflow thread http://stackoverflow.com/questions/22092687/empty-ng-src-doesnt-update-image
        Even after making the image src to empty, angular js retains the last src
      -->
      <img ng-src="{{selectedImg || '//:0'}}">    
    </div>
    
    <ul class="img-thumbnail-ul" ng-if="inMobileMode && imgSrcs">
      <li ng-repeat="src in imgSrcs track by $index">
        <div class="img-thumb-div">
          <img ng-click="updateSelectedImg($index)" ng-src="{{src}}">
        </div>      
      </li>
    </ul> 
   
    <button class="button button-block button-positive" ng-click="postAd()">
      Post Ad
    </button>
  </div>
  </ion-content>
</ion-view>
